@import'/css/typography.css';
@import'/css/common.css';




/**************** 
     HEADER
*****************/
.header-container{
    width: 100%;
    background-color: white;

}
#logo-mobile{
    width: 80px;
    height: 80px;
}
.col-small-left{
    width: 165px;
}
.nav-icons{
    width: calc(100% / 4);
}

/*************
    MAIN
**************/
.main-container{
    height: 100vh;
    padding: 0;
}
/*******************side-bar******************/
.side-bar {
    width: 140px;
    height: calc(100vh - 70px);
    flex-shrink: 0;
    margin: 0;
    background-color: #051e34;
    background-image: url('../img/sidebar-bg.png');
}
.box{
    background-color: red;
    width: 100px;
    height: 100px;
}

/*******************main-top-bar***************/
.main-top-bar{
    width: 100%;
    background-color: #1b72e8;
}
